<div class="grid-block align-center">
	<div class="grid-block medium-4" style="height:50%">
		<div class="grid-content">
			<form ng-submit="" name="groupForm" novalidate>
				<label>Add a new Group:</label>
				<span class="inline-label">
					<input type="text" maxlength="20" placeholder="New group's name"
					pattern="[\w ]+" title="Use letters, numbers and spaces" 
					required="required"
					ng-model="uCtrl.newGroupName"/>
					<button type="submit" class="button"
					ng-click="uCtrl.addNewGroup()"
					ng-disabled="groupForm.$invalid || groupForm.$pristine"
					ng-class="{'disabled': groupForm.$invalid}"
					>Add Group</button>
				</span>
			</form>
			<section class="block-list">
				<header>USER GROUPS</header>
				<ul>
					<li ng-repeat="group in uCtrl.groups"
					ng-click="uCtrl.selectGroup(group)">
						<a href="#">{{group.name}}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<div class="grid-block large-2 medium-2"></div>
	<div class="grid-block medium-4">
		<div class="grid-content">
			<section class="block-list">
				<header>USERS</header>
				<ul>
					<li ng-repeat="user in uCtrl.users"
						ng-click="uCtrl.addMember(user)">
						<a href="#">{{user.name}}</a>
					</li>
				</ul>
			</section>
			<!--uib-pagination total-items="uCtrl.total" ng-model="uCtrl.currentPage" max-class="pagination-sm"
			boundary-link-numbers="true"
			direction-links="false"
			max-size="8"
			items-per-page="20"></uib-pagination-->
		</div>
	</div>

	<div class="grid-block medium-12">
		<div class="grid-content">
			<button class="button" ng-click="uCtrl.saveMembersInGroup()">Save selected users in {{uCtrl.currentGroup.name}}</button>
			<section class="block-list">
				<header>USERS IN {{uCtrl.currentGroup.name}}</header>
				<ul>
					<li ng-repeat="member in uCtrl.currentGroup.members">
						<a href="#">{{member.name}}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>

</div>
