<div class="grid-block align-center">
	<div class="grid-block medium-4">
		<div class="grid-content">
			<section class="block-list">
				<header>USER GROUPS</header>
				<ul>
					<li ng-repeat="group in sCtrl.groups"
					ng-click="sCtrl.selectGroup(group)">
						<a href="#">{{group.name}}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div class="grid-block large-2 medium-2"></div>
	<div class="grid-block medium-4">
		<div class="grid-content">
			<form ng-submit="" name="studySearchForm" novalidate>
				<label>Search studies by name:</label>
				<span class="inline-label">
					<input type="text" maxlength="20" placeholder="Study name"
					pattern="[\w _#()]+" title="Use letters, numbers, spaces and _,#,(,)" 
					required="required"
					ng-model="sCtrl.searchName"/>
					<button type="submit" class="button"
					ng-click="sCtrl.searchStudy()"
					ng-disabled="studySearchForm.$invalid || studySearchForm.$pristine"
					ng-class="{'disabled': studySearchForm.$invalid}">Search</button>
				</span>
			</form>
			<section class="block-list">
				<header>STUDIES</header>
				<ul>
					<li ng-repeat="study in sCtrl.studies"
						ng-click="sCtrl.addMember(study)">
						<a href="#">{{study.name}}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>

	<div class="grid-block medium-12">
		<div class="grid-content">
			<button class="button" ng-click="sCtrl.saveStudiesInGroup()">Save selected studies in {{sCtrl.currentGroup.name}}</button>
			<section class="block-list">
				<header>STUDIES BELONGING TO {{sCtrl.currentGroup.name}}</header>
				<ul>
					<li ng-repeat="member in sCtrl.currentGroup.members">
						<a href="#">{{member.name}}</a>
					</li>
				</ul>
			</section>
		</div>
	</div>

</div>
