---
name: home
url: /
---

<div class="grid-block">
	<div zf-tabs="" class="small-12 medium-12 large-12">
		<div zf-tab="" title="Manage Groups">
			<group-user-viewer/>
		</div>
		<div zf-tab="" title="Set Studies to Groups">
			<group-study-viewer/>
		</div>
	</div>
</div>
